/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

h1 
{
    font-size: 22px;
}


/****** Header ***********/

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

header img
{
    width: auto;
    height: 20px;
}

.nav-header nav a
{
    padding: 0 10px;
    font-size: 16px;
}

.nav-header nav a:hover
{
    border-top: 2px var(--main-color) solid;
    padding: 5px 10px 0px 10px;
    color: var(--main-color);
}


/****** Fin Header ***********/


/****** Main section Recherche ***********/

#recherche 
{
    padding: 20px;
}

.filtre-ville {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.filtre-ville .fa-solid.fa-location-dot {
    margin-right: 10px;
    background-color: #eee6e6;
    padding: 10px 15px;
    border: none;
    border-radius: 20px 0 0 20px;
    color: black;
    cursor: default;
}

.search-button {
    background-color: var(--main-color);
    color: #fff; 
    padding: 10px 15px; 
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
}

.search-button-mobile 
{
    display: none;
}

#text-form
{
    border: none;
    display: inline-block;
    font-size: 18px; 
    font-weight: 600;
}

.filtre-secondaire
{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.button-filtre-secondaire
{
    border-radius: 50px;
    background-color: white;
    border: 1px solid rgb(184, 174, 174);
    padding: 7px 10px;
    font-weight: 600;
    font-size: 18px;
    margin: 0 5px;
}


.button-filtre-secondaire:hover
{
    background-color: #aeccf8;
}

.info 
{
    display: flex;
    align-items: center;
}

.info-bubble 
{
    padding: 2px 8px;
    border: 1px solid rgb(184, 174, 174);
    border-radius: 50%;
    font-size: 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-weight: 800;
}

.info p 
{

    margin: 0;
}

#recherche p 
{
    font-size: 16px;
}


/****** Fin section Recherche ***********/


/****** Main section Hébergement ***********/


.content-hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-hebergement a{
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.article-hebergement {
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.article-hebergement h3, .article-hebergement p   
{
    margin: 10px 0 5px 0;
}


.article-hebergement img {
    width: 95%; 
    height: 100px;
    object-fit: cover; 
    border: none;
    border-radius: 20px 20px 0 0; 
    margin: 5px 0 0 0;
}

.cta-button {
    margin-top: 5px;
    border: none;
    background-color: var(--main-bg-color);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.cta 
{
    text-align: left;
}

.font-weight
{
    font-weight: 600;
}

/****** Fin section Hébergement ***********/




/****** Début section activité ***********/

.activites-content
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.activites-content a
{
    width: 25%;
}

.activites-content article img 
{
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0 0; 
    object-fit: cover; 
}

.activites-content article h3 
{
    padding-left: 10px;
}



/****** Fin section activités ***********/


/****** Début footer  ***********/

footer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    gap: 20%;
    margin: auto;
}

footer h4
{
    font-size: 18px;
}

.nav-footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


/****** Fin footer  ***********/

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .filtre-secondaire
{
    flex-direction: column;
    align-items: flex-start;
}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    body 
    {
        margin: 0;
    }

    .main-container 
    {
        padding: 0 0;
    }

    header
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .nav-header
    {
        width: 100%;   
    }

    .nav-header nav 
    {
        display: flex;
        justify-content: space-around;
    }

    .nav-header nav a
    {
        width: 100%;
        text-align: center;
    }

    .nav-header nav a:hover
    {
        border-bottom: 2px var(--main-color) solid;
        border-top: none;
        padding: 0 10px 5px 10px;
    }

    header img 
    {
        margin-bottom: 20px;
    }

    .button-filtre-secondaire 
    {
        width: 45%;
        margin-bottom: 20px;
    }

    .search-button
    {
        display: none;
    }

    .filtre-ville
    {
        width: 100%;
    }



    #text-form 
    {
        text-align: center;
        max-width: 100%;
    }

    .form-search 
    {
        max-width: 60%;
    }

    .search-button-mobile {
        display: inline-block;
        background-color: var(--main-color);
        color: #fff; 
        border: none;
        border-radius: 20px;
        cursor: pointer;
        text-align: center;
        padding: 18px 18px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    }
    
    .fa-solid.fa-magnifying-glass {
        background-color: none;
        color: white;
    }

    #hebergements {
        order: 2;
    }
    
    .populaires {
        order: 1;
    }

    .filtre-secondaire-content {
        flex-wrap: wrap;
    }
    
    .button-filtre-secondaire {
        flex: 1 0 25%;
        min-width: 150px;
    }

    .populaires-cards {
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .content-hebergement {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .article-hebergement {
        width: 100%;
    }

    .article-hebergement img {
        width: 100%;

    }

    .activites-content
    {
        flex-direction: column;
    }

    #activites 
    {
        padding: 30px;
    }

    .activites-content a
    {
        width: 100%;
    }

    .content-hebergement a {
        width: 100%;
      }

    .activites-content article img 
    {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0; 
    }

    footer
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
}